/* style elements */
html {
  width: 100%;
  font-size: 18px;
  line-height: 1;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.4;
  max-width: 100%;
  background-color: #2196F3;
  color: rgba(0,0,0,0.87);
  padding-top: 3.25em;
  padding-bottom: 0.25em;
  padding-left: 0.22em;
  padding-right: 0.23em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

hr {
  color: rgba(0,0,0,0.12);/*#333*/;
  background-color: rgba(0,0,0,0.12);
  border: none;
  height: 0.111em;
  margin-bottom: 1.5em;
}

a {
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 0.05em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #1565C0;
}

a:hover {
  border-bottom: .055555rem solid #1565C0;
}

/* content layout and style */
.header {
  line-height: normal;
  margin: 0;
  text-align: center;
  font-size: 1.333em;
  font-weight: 500;
  letter-spacing: .02em;
  color: #f5f5f5;
  min-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index : 1;
  min-height: 2.4em;
  line-height: normal;
  padding: 0;
}

.header-content {
  color: white;
  background-color: #1976d2;
  display: block;
  min-height: 2.2em;
  max-width: 43.5em;
  margin: 0 auto;
  padding: .05em;
  padding-bottom: 0;
  padding-top: 0.1em;
  box-shadow: 0 0.1666rem 0.33333rem rgba(0,0,0,0.16), 0 0.1666rem 0.33333rem rgba(0,0,0,0.23);
  text-align: center;
}

.header-content .brand {
  display: block;
  margin: 0 auto;
  margin-top: .2em;
  margin-bottom: 0.3em;
}

.header-content .nav {
  color: white;
  font-size: 0.75em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header-content a {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  padding-left: 0.33em;
  padding-right: 0.33em;
  border-bottom: .11111rem solid #1976d2;
}

.header-content a:hover {
  border-bottom: .11111rem solid white;/*white;*/
}

.header-content a.current {
  border-bottom: .11111rem solid #00E676;
}

.header-content .nav span {
  flex: 0;
  flex-basis: 33%;
  font-size: 0.8888888em;
  margin-bottom: 0;
}

.header-content .nav span a {
  padding-bottom: 0.14em;
  display: inline-block;
  letter-spacing: 0.05em;
}

.header-content .brand a {
  padding-bottom: 0.01em;
}

.tile {
  font-size: 1.11111em;
  padding: 1.25em;
  background-color: #fdfdfd;
  max-width: 49em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0.1666rem 0.33333rem rgba(0,0,0,0.16), 0 0.1666rem 0.33333rem rgba(0,0,0,0.23);
}

.tile:hover {
  box-shadow: 0 0.5555rem 1.1111rem rgba(0,0,0,0.19), 0 0.33333rem 0.33333rem rgba(0,0,0,0.23);
}

.tile img {
  max-width: 100%;
  height: auto;
  margin: 0.25em auto;
  padding: 0;
}

.tile .last {
  clear: both;
}

.tile .title {
  font-size: 140%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
}

.tile .section-title {
  font-size: 110%;
  margin-top: 0;
  font-weight: bold;
}

.tile p {
  font-size: 110%;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  margin-bottom: 0.5em;
}

.footer p {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -.25em;
}

.indent {
  margin-left: .75em;
}

.small-indent {
  margin-left: .25em;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 120%;
}

.centered-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container img {
  flex: 0 0 auto;
  object-fit: scale-down;
}

.flex-container.vertical-center {
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.flex-container .no-grow {
  flex-grow: 0;
}

.flex-2-col {
  flex-basis: 49.5%;
}

.flex-3-col {
  flex-basis: 33%;
}

/*
Pandoc Markdown CSS
*/
div.sourceCode {
  overflow-x: scroll;
}
div.sourceCode::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
div.sourceCode::-webkit-scrollbar-corner {
  background: 0;
}
div.sourceCode::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.26);
}
div.sourceCode {
  width: 100%;
}
div.sourceCode .sourceCode code.sourceCode {
  width: 100%;
}

pre, code, .sourceCode {
  font-family: monospace;
  background-color: #f7f7f7;
  margin: 0;
}

pre code {
  line-height: 150%;
  font-size: 100%;/*111.11%;*/
  font-weight: 500;
  white-space: pre;
  word-wrap: normal;
  background-color: rgba(0,0,0,0);
  color: #373b41;
  padding: 0;
  margin: 0;
}

pre {
  padding: 1em;
  background-color: #f7f7f7;
}

code {
  background-color: #f9f2f4;
  color: #CC342B;
  border-radius: 0.22em;
  padding-left: 0.42em;
  padding-right: 0.41em;
  padding-top: 0.08em;
  padding-bottom: 0.14em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-size: 90%;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
Code colors
*/
code>span.kw { color: #CC342B; } /* Keyword */
code>span.at { color: #3971ED; } /* Attribute */
code>span.st { color: #198844; } /* Strings */
code>span.ch { color: #198844; } /* Char Quotes */
code>span.sc { color: #e013d0; } /* SpecialChar */
code>span.dt { color: #FBA922; } /* DataType */
code>span.cn { color: #e013d0; } /* Constant */
code>span.pp { color: #3971ED; } /* Preprocessor */
code>span.dv { color: #198844; } /* DecVal */
code>span.op { color: #373b41; } /* Operator */

/* reduce padding for mobile */
@media (max-width: 60em) {
  .tile {
    padding: 0.5em !important;
  }
  .footer {
    padding: 0.75em !important;
  }
  pre {
    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
  }
}
/* fluid font scaling for smaller screens */
@media (max-width: 57em) {
  .tile {
     font-size: 2vw;
     max-width: 100%;
  }
  .tile p {
    font-size: 110%;
  }
}
/* switch to fixed minimum font size */
@media (max-width: 52em) {
  .tile {
    font-size: 0.888888em;
  }
}
/* switch flex box to stack item on mobile */
@media (max-width: 45.75em) {
  .flex-container {
    flex-direction: column;
  }
}
