html {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 180%;
  max-width: 100%;
  background-color: rgb(59, 120, 231);
  padding-top: 2.75em;
  padding-bottom: 0.25em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

@media(min-width:65em) {
  html {
    font-size: 100%;
  }
}

.page-content {
  max-width: 60em;
  margin: 0 auto;
  padding: 0.25em;
  /*background-color: #ddebf4;
  border: 1px solid black;*/
}

.header {
  line-height: normal;
  /*font-weight: bold;*/
  margin: 0;
  /*padding: 0.3em 0 0.02em 0;*/
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: .01em;
  color: white;
  /*background-color: rgb(59, 120, 231);*/
  min-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index : 1;
  min-height: 2.4em;
  line-height: normal;
  display: block;
  padding: 0;
}

.header-content {
  /*border: .15em solid antiquewhite;
  border-bottom: .2em solid antiquewhite;*/
  color: white;
  background-color: #3367d6;
  display: block;
  min-height: 2.2em;
  text-align: left;
  max-width: 43.5em;
  margin: 0 auto;
  padding: .1em;
  padding-top: 0.1em;
  padding-left: 0.1em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header-content .brand {
  float: left;
  vertical-align: top;
  margin-top: .6em;
  padding-left: 1%;
}

.header-content .nav {
  color: white;
  font-size: 0.75em;
  padding-right: 1.2%;
  padding-top: 1.05em;
  max-width: 100%;
  text-align: right;
}

.header-content a {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}

.header-content a:hover {
  /*text-decoration: underline;*/
  border-bottom: 1px solid white;
}

.header-content .nav a {
  margin-left: 2.4%;
  letter-spacing: 0.01em;
  /*text-decoration: underline;*/
}

.header-content p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.content {
  padding: .5em;
  border: .1em solid #E4E4E4;
  background-color: #fdfdfd;
  max-width: 55em;
  margin: 0 auto;
}

.card {
  padding: 1em;
  padding-top: 1em;
  border: .1em solid #000;
  /*#E4E4E4;*/
  background-color: #fdfdfd;
  max-width: 55em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card .last {
  clear: both;
}

.card .title {
  font-size: 140%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
}

.card .section-title {
  font-size: 120%;
  margin-top: 0;
  font-weight: bold;
}

.card p {
  font-size: 120%;
}

hr {
  color: #333;
  background-color: #333;
  border: none;
  height: .2em;
  margin-bottom: 1.5em;
}

.nav-box {
  max-width: 55em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  word-wrap: normal;
}

.nav-box a {
  display: inline-block;
  font-size: 180%;
  line-height: 1.2em;
  margin-left: 4.5%;
  margin-right: 4.5%;
  width: 4em;
  color: blue;
  /*#4B4B4B;*/
}

.nav-box .current {
  color: black;
}

.nav-box p {
  height: auto;
  margin: 0;
  font-size: 100%;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  margin-bottom: 0.5em;
}

.footer p {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -.25em;
}

.indent {
  margin-left: .75em;
}

.small-indent {
  margin-left: .25em;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 120%;
}

.centered-text {
  text-align: center;
}

.left-text {
  text-align: left;
}


/*
Pandoc Markdown CSS
*/

pre, div .sourceCode, code {
  border: .1em solid #00516D;
  padding: 0;
  padding-left: .15em;
  padding-right: .15em;
  padding-bottom: .05em;
}

pre, .sourceCode, code {
  /*background-color: #F7F7F7;*/
  background-color: #00516D;
  color: #F9F9F9;
}

pre, code {
  font-family: monospace;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  padding: .5em;
}

pre code {
  padding: .5em;
}

code .sourceCode, div .sourceCode pre, div .sourceCode code, pre code {
  border: none;
  padding: 0;
}

div .sourceCode pre {
  margin: 1em;
}


/*
Code colors
*/

code>span.kw {
  color: #06C13C;
}

code>span.at {
  color: #FFE3A7;
}


/*strings*/
code>span.st {
  color: #FFFF00;
}


/* char quotes */
code>span.ch {
  color: #FFFF00;
}


/* chars */
code>span.sc {
  color: #FFFF00;
}


/**/
code>span.dt {
  color: #5BE5FF;
}

code>span.cn {
  color: #06E98E;
}

code>span.pp {
  color: #08D9FF;
}

code>span.dv {
  color: #38F725;
}

code>span.op {
  color: #FFFFFF;
}