/* style elements */
html {
  width: 100%;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.625;
  max-width: 100%;
  background-color: #01579b;
  color: rgba(0,0,0,0.87);
  padding-bottom: 0.25em;
  padding-left: 0.22em;
  padding-right: 0.23em;
}

.black { color: rgba(0,0,0,0.87); }
.white { color: white; }
.bg-color-grey-50 { background-color: #FAFAFA; }
.bg-color-grey-100 { background-color: #F5F5F5; }
.bg-color-grey-300 { background-color: #E0E0E0; }
.color-primary { color: #01579b; }
.bg-color-primary { background-color: #01579b; }
.color-light { color: #4f83cc; }
.bg-color-light { background-color: #4f83cc; }
.color-dark { color: #002f6c; }
.bg-color-dark { background-color: #002f6c; }
.color-secondary { color: #00e676; }
.bg-color-secondary { background-color: #00e676; }
.color-secondary-light { color: #66ffa6; }
.bg-color-secondary-light { background-color: #66ffa6; }
.color-secondary-dark { color: #00b248; }
.bg-color-secondary-dark { background-color: #00b248; }

.warning { background-color: #FDD835 !important; }
.error { background-color: #FF1744 !important; }

.color-yellow-600 { color: #FDD835;}
.color-red-600 { color: #E53935; }
.color-blue-600 { color: #1E88E5; }
.color-green-a400 { color: #00E676; }

h2 { margin-top: 1em; }

canvas { background-color: black; }

hr {
  color: rgba(0,0,0,0.13);
  background-color: rgba(0,0,0,0.13);
  border: none;
  height: 1px;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

a {
  text-decoration: none;
  padding-bottom: 0.05em;
  color: #1967D2;
}

a:hover {
  border-bottom: .055555em solid #1967D2;
}

.card a:visited,
.tile a:visited {
  color: #609;
}
.card a:visited:hover,
.tile a:visited:hover {
  border-bottom: .055555em solid #609;
}

a.button:hover {
  border-bottom: none;
}

a.white:hover,
.white a:hover {
  border-bottom: .055555em solid white;
}


/* content layout and style */
.header {
  line-height: normal;
  margin: 0;
  text-align: center;
  font-size: 1.333em;
  font-weight: normal;
  letter-spacing: .02em;
  color: #f5f5f5;
  min-width: 100%;
  top: 0;
  right: 0;
  z-index : 1;
  min-height: 2.4em;
  line-height: normal;
  padding: 0;
}

.header-content {
  color: white;
  background-color: #01579B;
  display: block;
  min-height: 2.2em;
  max-width: 45em;
  margin: 0 auto;
  padding: .05em;
  padding-bottom: 0.01em;
  padding-top: 0.1em;
  text-align: center;
}

.header-content .brand {
  display: block;
  margin: 0 auto;
  margin-top: .2em;
  margin-bottom: 0.3em;
  font-size: 2em;
}

.header-content .nav {
  color: white;
  font-size: 1em;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header-content a {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  padding: 0 .5em;
  border-bottom: 2px solid #01579B;
}

.header-content a:hover {
  border-bottom: 2px solid white;
}

.header-content a.current {
  border-bottom: 2px solid #00E676;
}

.header-content .nav span {
  flex: 0;
  flex-basis: 33%;
  font-size: 0.8888888em;
  margin-bottom: 0;
}

.header-content .nav span a {
  padding-bottom: 0.14em;
  display: inline-block;
  letter-spacing: 0.05em;
}

.header-content .brand a {
  padding-bottom: 0.01em;
}

.tile, 
.card {
  font-size: 1em;
  padding: 1.25em;
  background-color: #fdfdfd;
  max-width: 60em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  /* 2dp shadow */
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.14),
  0 3px 4px 0 rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.20);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.14),
  0 3px 4px 0 rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.20);
}

/*
::selection,
::selection {
  background: #00e676;
  color: rgba(0,0,0,0.87);
}
::-moz-selection,
::-moz-selection {
  background: #00e676;
  color: rgba(0,0,0,0.87);
}
*/

.tile>.full-bleed,
.card>.full-bleed {
  margin-left: -1.14em !important;
  margin-right: -1.14em !important;
}
.tile>div.full-bleed,
.card>div.full-bleed {
  padding: .25em 1em;
  border-top: 1px solid rgba(0,0,0,0.13);
  border-bottom: 1px solid rgba(0,0,0,0.13);
  margin-top: 1em;
  margin-bottom: 1em;
}
.tile>div.full-bleed.list-item,
.card>div.full-bleed.list-item {
  margin-top: 0px;
  margin-bottom: 0;
  border-top: none;
  /*background-color: rgba(0,0,0,0.001);*/
}
.tile>div.full-bleed.list-item.first,
.card>div.full-bleed.list-item.first {
  margin-top: 1em;
  border-top: 1px solid rgba(0,0,0,0.13);
}
.tile>.full-bleed.list-item:last-child,
.card>.full-bleed.list-item:last-child {
  margin-bottom: -0.55em;
  border-bottom: none;
}

/* card vs tile */
.card {
  border-radius: 2px;
}

.tile:hover,
.card:hover {
  /* 8dp shadow */
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),
  0 3px 14px 3px rgba(0,0,0,0.12),
  0 4px 15px 0 rgba(0,0,0,0.20);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),
  0 3px 14px 3px rgba(0,0,0,0.12),
  0 4px 15px 0 rgba(0,0,0,0.20);
}

.tile img,
.card img {
  max-width: 100%;
  height: auto;
  margin: 0.25em auto;
  padding: 0;
}

.tile .last,
.card .last {
  clear: both;
}

.tile .title, 
.card .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 140%;
  /*margin-top: 0;*/
  margin-bottom: 0;
  padding: 0;
}

.tile .title:first-of-type, 
.card .title:first-of-type {
  margin-top: 0;
}

.tile .sub-title, 
.card .sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 120%;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.54);
}

.tile .section-title,
.card .section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 120%;
  /*margin-top: 0;*/
}

.tile>*,
.card>* {
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
}

.tile>table,
.card>table {
  font-size: 110%;
  text-align: left;
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
}

.tile table td,
.card table td { padding: .2em; }

.tile .bordered,
.card .bordered {
  border: .1em solid black;
  border-collapse: collapse;
}

.tile .bordered td,
.card .bordered td {
  border: .1em solid black;
  padding: .3em;
}

.tile .bordered thead,
.card .bordered thead {
  background-color: #1565C0;
  color: white;
}

.circle-badge {
  height: auto;
  border-radius: 50%; border: .5em solid #1E88E5;
  background-color: #1E88E5;
  margin: 0.1em auto;
  margin-bottom: 0.1em;
  box-sizing: border-box;
  /* 1dp shadow */
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),
  0 2px 2px 0 rgba(0,0,0,0.12),
  0 1px 3px 0 rgba(0,0,0,0.20);
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),
  0 2px 2px 0 rgba(0,0,0,0.12),
  0 1px 3px 0 rgba(0,0,0,0.20);
}


.no-margin { margin: 0; }

.footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  margin-bottom: 0.5em;
}

.footer p {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: -.25em;
}

span.indent {
  display:inline-block;
  width: .75em;
  height: 1em;
}

p.indent {
  margin-left: .75em;
}

p.small-indent {
  margin-left: .25em;
}

.bold {
  font-weight: bold;
}

.big, p.big, .section-title.big {
  font-size: 120%;
}

.italic {
  font-style: italic;
}

.centered-text {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.left-text {
  text-align: left;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container img {
  flex: 0 0 auto;
  object-fit: scale-down;
}

img.emoji {
  line-height: 1em;
  height: 1.25em;
  padding-left: .1em;
  padding-right: .1em;
  margin-bottom: -.25em;
}

.flex-container.vertical-center {
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.flex-container .no-grow {
  flex-grow: 0;
}

.flex-2-col {
  flex-basis: 49.5%;
}

.flex-3-col {
  flex-basis: 33%;
}

.button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px 16px;
  margin: .33em .5em;
  line-height: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1), background-color .4s cubic-bezier(0.25,0.8,0.25,1);
  transition-delay: 0.2s;
  letter-spacing: .05em;
  min-width: 64px;
  user-select: none;
  background-color: #00E676;
  color: black;
}

.button:hover {
  /* 2dp shadow */
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.14),
  0 3px 4px 0 rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.20);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.14),
  0 3px 4px 0 rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.20);
  transition-delay: 0s;
}

/* ripple effect */
.button,
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0,0,0);
}
.button:after,
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,#000 10%,transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s,opacity 1s;
}
.button:active:after,
.ripple:active:after {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}

.rounded {
  border-radius: 2px;
}

.double-size {
  font-size: 2em;
}
.triple-size {
  font-size: 3em;
}


.error-page {
  color: white;
}
.error-page .header {
  font-size: 2em;
  font-weight: bold;
  margin-top: .5em;
}

.blueprint-title {
  color: white;
  margin: 0 auto;
  margin-top: 0.5em;
  border: .1em solid white;
  line-height: 1.1em;
  padding: 0.25em 0;
}

/*
Pandoc Markdown CSS
*/
div.sourceCode {
  overflow-x: scroll;
}
div.sourceCode::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
div.sourceCode::-webkit-scrollbar-corner {
  background: 0;
}
div.sourceCode::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.26);
}
div.sourceCode {
  width: 100%;
}
div.sourceCode .sourceCode code.sourceCode {
  width: 100%;
}

pre, code, .sourceCode {
  font-family: monospace;
  background-color: #f7f7f7;
  margin: 0;
}

pre code {
  line-height: 150%;
  font-size: 100%;/*111.11%;*/
  font-weight: 500;
  white-space: pre;
  word-wrap: normal;
  background-color: rgba(0,0,0,0);
  color: #373b41;
  padding: 0;
  margin: 0;
}

pre {
  padding: 1em;
  background-color: #f7f7f7;
}

code {
  background-color: #f9f2f4;
  color: #CC342B;
  border-radius: 0.22em;
  padding-left: 0.42em;
  padding-right: 0.41em;
  padding-top: 0.08em;
  padding-bottom: 0.14em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-size: 90%;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
Code colors
*/
code>span.kw { color: #CC342B; } /* Keyword */
code>span.at { color: #3971ED; } /* Attribute */
code>span.st { color: #198844; } /* Strings */
code>span.ch { color: #198844; } /* Char Quotes */
code>span.sc { color: #E013D0; } /* SpecialChar */
code>span.dt { color: #FBA922; } /* DataType */
code>span.cn { color: #E013D0; } /* Constant */
code>span.pp { color: #3971ED; } /* Preprocessor */
code>span.dv { color: #E013D0; } /* DecVal */
code>span.op { color: #373B41; } /* Operator */

/* reduce padding for mobile */
@media (max-width: 60em) {
  .tile,
  .card {
    padding: 0.5em !important;
  }
  .tile>.full-bleed,
  .card>.full-bleed {
    margin-left: -0.415em !important;
    margin-right: -0.415em !important;
  }
  .footer {
    padding: 0.75em !important;
  }
  pre {
    padding: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
  }
}
/* fluid font scaling for smaller screens */
@media (max-width: 57em) {
  .tile,
  .card {
     font-size: 2vw;
     max-width: 100%;
  }
  .tile>*,
  .card>* {
    font-size: 110%;
  }
}
/* switch to fixed minimum font size */
@media (max-width: 52em) {
  .tile,
  .card {
    font-size: 0.888888em;
  }
}
/* switch flex box to stack item on mobile */
@media (max-width: 45.75em) {
  .flex-container {
    flex-direction: column;
  }
}
